* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
  to fit the background image on the mobile mode and to remove any overflow in x-axis
 but you must make only the body position: relative
*/
html,
body {
  overflow-x: hidden;
}

html {
  background: url("./imgs/water.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: sans-serif;
  font-size: 20px;
  position: relative;
}

section.main {
  width: 100%;
  height: 100%;
  margin-top: 6rem;
  padding: 4rem;
}

section.main .hint {
  display: flex;
  flex-direction: column;
  /* background-color: crimson; */
  padding-left: 10%;
  animation: topToBottom 2s ease-in;
  z-index: -10;
}

@keyframes topToBottom {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

section.main .loaded {
  opacity: 1;
}
section.main .hint h1,
section.main .hint p {
  color: #c9b8b8;
  opacity: 0.9;
}
section.main .hint h1 {
  padding: 0;
  margin: 0;
  text-align: left;
  /* background-color: cyan; */
}

section.main .hint p {
  font-weight: bold;
}

section.main .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  /* background-color: rgba(0, 0, 0, 0.6); */
}
section.main .btns .btn {
  border: 2px solid #000;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 4rem;
  color: #000;
  text-align: center;
  text-decoration: none;
}

section.main .btns .btn:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}
.btn_my_resume {
  animation: rightToLeft 1.5s ease-in;
}

.btn_my_work {
  animation: leftToRight 1.5s ease-in;
}

@keyframes leftToRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rightToLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  html {
    background: url("./imgs/water.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  section.main .btns .btn {
    font-weight: bold;
    font-size: 18px;
    padding: 0.4rem;
  }
  section.main .btns {
    display: grid;
    grid-template-columns: 15rem;
    height: 7rem;
    margin-top: 3rem;
  }

  section.main .hint p {
    font-size: 13px;
    display: block;
  }
  section.main .hint h1 {
    font-size: 18px;
  }
}
