* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.collection {
  width: 100%;
  margin: auto;
  padding: 2rem;
  /* background-color: aqua; */
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  animation: leftToRight 1.5s ease-in;
  color: #efd6ac;
}
.collection .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  justify-items: center;
  align-items: center;
  row-gap: 3rem;
}

.skills img {
  animation: leftToRight 1.5s ease-in;
}

@keyframes leftToRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
hr {
  background-color: #000000b9;
  height: 5px;
  border: none;
  border-radius: 10rem;
}

.certifications ol {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.certifications ol li {
  margin-bottom: 1rem;
  margin-left: 1.1rem;
  animation: leftToRight 1.5s ease-in;
  color: #efd6ac;
}

@media (max-width: 900px) {
  .collection section.skills {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
  body {
    height: 100%;
  }
  html {
    padding-top: 4rem;
  }

  .collection section.skills img {
    width: 70px;
    height: 70px;
  }
  h1 {
    font-size: 22px;
    text-align: left;
  }
  hr {
    margin: 0.4rem 0 0.4rem 0;
  }
  .certifications ol {
    font-size: 15px;
  }
}

/* @media screen and (max-width: 768px) {
  h1{

  }
} */
