* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

section.Container {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 5rem;
}
section.Container div {
  margin-bottom: 3rem;
  margin-left: 3rem;
  display: block;
  flex-direction: column;
  position: relative;
}

section.Container div i {
  width: 5%;
}

section.Container div a,
section.Container div p {
  width: 95%;
}

section.Container div p {
  position: absolute;
  left: 4.2rem;
  top: -1.2rem;
}

i.fa-facebook {
  color: #3b5998;
}
a.facebook {
  color: #3b5998;
}

i.fa-whatsapp {
  color: #075e54;
}
p.whatsapp {
  color: #075e54;
}

i.fa-linkedin {
  color: #0e76a8;
}
a.linkedin {
  color: #0e76a8;
}

i.fa-envelope {
  color: #999;
}
p.envelope {
  color: #fff;
}
