* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.contacts {
  width: 65%;
  margin: 3rem auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* background-color: cadetblue; */
}
.contacts div {
  display: inline;
  /* background-color: chartreuse; */
  margin-bottom: 2rem;
  padding: 1rem;
  /* border-bottom: 2px solid crimson; */
  transition: all 0.5s ease-in-out;
}
.contacts div:hover {
  transform: scale(1.1);
}
.contacts div a {
  text-decoration: none;
}

/* .contacts div p {
  background-color: aqua;
  width: 20rem;
} */

.contacts div p {
  /* background-color: aqua; */
  width: 40rem;
}
.contacts div a,
.contacts div p {
  color: #efd6ac;
}

.contacts div:nth-child(5) p::before,
.contacts div:nth-child(4) p::before,
.contacts div:nth-child(3) p::before,
.contacts div:nth-child(2) p::before,
.contacts div:first-child p::before {
  animation: fadeIn 1.5s ease-in;
}

.contacts div:first-child p::before {
  content: attr("class");
  color: #fff;
  margin-right: 3rem;
}

.contacts div:nth-child(2) p::before {
  content: attr("class");
  color: #0e76a8;
  margin-right: 3rem;
}

.contacts div:nth-child(3) p::before {
  content: attr("class");
  color: #3b5998;
  margin-right: 3.5rem;
  background-color: #fff;
}

.contacts div:nth-child(4) p::before {
  content: attr("class");
  color: #075e54;
  margin-right: 2.6rem;
}

.contacts div:nth-child(5) p::before {
  content: attr("class");
  color: #fff;
  margin-right: 1.8rem;
}

.contacts div:nth-child(5) p::before,
.contacts div:nth-child(4) p::before,
.contacts div:nth-child(3) p::before,
.contacts div:nth-child(2) p::before,
.contacts div:first-child p::before {
  animation: fadeIn 1.5s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateX(-30px); */
  }
  to {
    opacity: 1;
    /* transform: translateX(0px); */
  }
}

.contacts div:nth-child(5) p,
.contacts div:nth-child(4) p,
.contacts div:nth-child(3) p,
.contacts div:nth-child(2) p,
.contacts div:first-child p {
  animation: rightToLeft 1.5s ease-in;
}

@keyframes rightToLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    /* background-color: darkcyan; */
  }
  .contacts div p {
    font-size: 18px;
  }
  .contacts div:nth-child(5) p::before,
  .contacts div:nth-child(4) p::before,
  .contacts div:nth-child(3) p::before,
  .contacts div:nth-child(2) p::before,
  .contacts div:first-child p::before {
    margin-right: 1rem;
  }

  .contacts div:nth-child(5) p {
    /* background-color: cyan; */
    width: 20rem;
  }
  .contacts {
    width: 90%;
  }
}
